@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
}
.container{
    width: 60vw;
    margin: auto;
    padding: 50px 0px;
    font-family: "Roboto", sans-serif;
}
.content{
    font-family: "Potta One", system-ui;
}
.logo img{
    width: 50px;
}
.logo{
    padding: 0 20px;
}
.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 10px !important;
    padding: 5px 10px !important;
}